.react-h5-audio-player {
    width: 100%;
}
.albuTitle {
    position: absolute;
    margin: 20px;
    color: #fff;
    font-family: fantasy;
    top: 40%;
}
.albuCover {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 45% 25%;
    position: relative;
    opacity: .8;
    top: 0;
    z-index: -2 !important;
    filter: blur(1px);
}
.overlay {
    position: absolute;
    top: 0;
    z-index: -1 !important;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,rgba(51, 51, 51, 0.17) 0,rgb(51, 51, 51) 100%);
}